<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CTripOSS.Baiji.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CTripOSS.Baiji.Editor.Properties.Settings>
            <setting name="LastOutputFolder_CSharp" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputFolder_Java" serializeAs="String">
                <value />
            </setting>
            <setting name="GenComment_CSharp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenComment_Java" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenPublicFields_Java" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenIncludes_CSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenIncludes_Java" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenAll_Default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOutputFolder_OC" serializeAs="String">
                <value />
            </setting>
            <setting name="GenComment_OC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenIncludes_OC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenAutoRelease_OC" serializeAs="String">
                <value>False</value>
            </setting>
        </CTripOSS.Baiji.Editor.Properties.Settings>
    </userSettings>
</configuration>
